
.icon_container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    .svg_icons {
        height: 40px;
        width: 130px;
    }
}
.group_container{
    border: red solid 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}
.individual_icon_container {
    border: 1px solid rgba(168, 179, 207, 0.2);
    border-radius: 10px;
    background-color: #17191f;
    text-align: center;
    padding: 6px 0px 6px 0px;
    color: #ffffff;
    font-size: .75rem;
}

@media (max-width: 768px) {
    .icon_container {
        font-size: .563rem;
        margin-top: 50px;
        .svg_icons {
            width: 80px;
        }
    }
}