
.icon_container {
    display: flex;
    gap: 12px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 50px 0 0 0;
    .svg_icons {
        height: 60px;
        width: 120px;
        padding: 12px 12px 0 12px;
    }
}
.group_container{
    border: red solid 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.individual_icon_container {
    
    border: 1px solid rgba(255, 233, 35, 1);
    box-shadow: 0 14px 14px -16px rgba(255, 233, 35, 1);
    border-radius: 10px;
    background-color: #17191f;
    text-align: center;
    padding-bottom: 12px;
    color: #ffffff;
}

@media (max-width: 768px) {
    .icon_container {
        .svg_icons {
            height: 40px;
            width: 40px;
        }
    }
}