.page_wrapper {
  box-sizing: border-box;
}
.timeline {
  position: relative;
  margin: 0 auto;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #ffffff;
    top: 0;
    bottom: 0;
    left: 50%;
}
