@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.page-wrapper {
  background-color: #0e1217;
  overflow-x: hidden; /* user will try to scroll homepage images if overflow isn't hidden */
}

.main_wrapper {
  padding: 0px 60px 60px 60px;
}
.intro_wrapper {
  margin-top: 70px;
  margin-bottom: 40px;
}
.page_title {
  color: #ffe922;
  margin: 8px auto 16px 30px;
  font-weight: 700;
  font-size: 5rem;
}
.page_intro {
  color: #ffffff;
  max-width: 70%;
  line-height: 25px;
  font-size: 1.125rem;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: #2d323c;
  margin-bottom: 24px;
}
@media (max-width: 760px) { /* mobile view*/
    html, body {
      overflow-x: hidden;
    }
    body {
      position: relative;
      height: 100vh;
    }
    /* above prevents the user from being able to scroll page on x axis b/c of image track */
     .main_wrapper {
      padding: 0px 24px 24px 24px;
    } 
    .page_title {
      font-size: 2.5rem;
      margin-left: auto;
    }
    .intro_wrapper {
      margin-top: 50px;
    }
    .page_intro {
      max-width: 95%;
    }
}