.main_wrapper {
  padding: 0px 100px;
}
.intro_wrapper {
  margin-top: 80px;
  margin-bottom: 40px;
}
.page_title {
  color: #ffe922;
  margin: 8px auto 16px 30px;
  font-weight: 700;
  font-size: 5rem;
}
.page_intro {
  color: #ffffff;
  padding-right: 350px;
  line-height: 25px;
  font-size: 1.125rem;
}
.img_track {
  display: flex;
  gap: 30px;
  position: absolute;
  left: 50%;
  user-select: none; /* change for selecting a project?*/
  overflow-x: visible; /* needs to be added or else box shadow is cut off. overflow-x id hidden on root*/
}
.img_wrapper {
  background-color: #17191f;
  background-clip: padding-box;
  border: 1px solid #ffe922;
  padding: 24px;
  border-radius: 15px;
  box-shadow: 0px 27px 35px -22px rgba(255,233,35,.5);
}
.image {
  width: 55vmin;
  height: 40vmin;
  object-fit: cover;
  object-position: 100% center;
  user-select: none;
  border-radius: 15px;
}
