.resume_wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.resume_frame {
  border: 2px solid rgba(168, 179, 207, 0.2);
}
.resume_frame p {
  color: #ffffff;
}
